---
layout: default
---

<article>
  <section class="title">
    <h2>{{ page.title }} </h2>
  </section>
  <section class="meta">
  <span class="time">
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
  </span>
  {% if page.tags %}
  <span class="tags">
    {% for tag in page.tags %}
    <a href="/tags.html#{{ tag }}" title="{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </span>
  {% endif %}
  </section>
  <section class="post">
  {{ content }}
  </section>
  {% if page.guid %}
  <div class="divider">
    <span>
    {% if page.previous %}
    <a href="{{ page.previous.url }}"><i class="fa fa-chevron-left"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
    <!-- BEGIN comment icon -->
    <span><i class="fa fa-comment-o"></i></a></span>
       <!-- END comment icon -->

    <span>
    {% if page.next %}
    <a href="{{ page.next.url }}"><i class="fa fa-chevron-right"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
  </div>

  <!-- BEGIN comment -->
 <!-- Intense Debate -->
<!-- content nav -->
<p class="content-nav">
    <MTEntryPrevious><a href="<$MTEntryPermalink$>">« <$MTEntryTitle$></a> |</MTEntryPrevious>
    <a href="<$MTBlogURL$>"><$MTTrans phrase="Main"$></a>
    <MTEntryNext>| <a href="<$MTEntryPermalink$>"><$MTEntryTitle$> »</a></MTEntryNext>
</p>
<!-- entry -->
<MTWeblogPostIfShow field="date_header">
    <MTDateHeader><h2 class="date-header"><$MTEntryDate format_weblog_date="1"$></h2></MTDateHeader>
</MTWeblogPostIfShow>
<div class="entry" id="entry-<$MTEntryID$>">
    <MTWeblogPostIfShow field="post_title">
        <h3 class="entry-header"><$MTEntryTitle$></h3>
    </MTWeblogPostIfShow>
    <div class="entry-content">
        <div class="entry-body">
            <$MTEntryBody$>
        </div>
        <MTEntryIfExtended>
            <a id="more"></a>
            <div class="entry-more">
                <$MTEntryMore$>
            </div>
        </MTEntryIfExtended>
        <MTFeedflareIfEnabled>
            <script src="<$MTFeedflareUrl$><$MTEntryPermalink encode_url="1"$>" type="text/javascript"></script>
        </MTFeedflareIfEnabled>    
    </div>
    <p class="entry-footer">
        <$MTEntryPostFooter$>
    </p>
</div>
<MTEntryIfAllowPings>
    <div class="trackbacks">
        <a id="trackback"></a>
        <h3 class="trackbacks-header"><$MTTrans phrase="TrackBack"$></h3>
        <div class="trackbacks-info">
            <p><$MTTrans phrase="TrackBack URL for this entry:"$><br /><$MTEntryTrackbackLink$></p>
            <p><$MTTrans phrase="Listed below are links to weblogs that reference"$> <a href="<$MTEntryPermalink$>"><$MTEntryTitle$></a>:</p>
        </div>
        <div class="trackbacks-content">
            <MTPings>
                <div class="trackback">
                    <div class="trackback-content">
                        <p>
                            <a id="p<$MTPingID$>"></a>
                            » <a rel="nofollow" href="<$MTPingURL$>"><$MTPingTitle$></a> <$MTTrans phrase="from"$> <$MTPingBlogName$><br />
                            <$MTPingExcerpt$> <a rel="nofollow" href="<$MTPingURL$>">[<$MTTrans phrase="Read More"$>]</a>
                        </p>
                    </div>
                    <p class="trackback-footer">
                        <$MTTrans phrase="Tracked on"$> <$MTPingDate$>
                    </p>
                </div>
            </MTPings>
        </div>
    </div>
</MTEntryIfAllowPings>
<MTEntryIfCommentsOpen>
    <a id="comments"></a>
    <div class="comments">
        <h3 class="comments-header"><$MTTrans phrase="Comments"$></h3>
        <div class="comments-content">
            <$MTWeblogIncludeModule module="comment-list"$>
        </div>
    </div>
    <$MTWeblogIncludeModule module="comment-form"$>
<!-- *Intense Debate* -->
<MTElse>
    <a id="comments"></a>
    <div class="comments">
        <h3 class="comments-header"><$MTTrans phrase="Comments"$></h3>
        <div class="comments-content">
            <div id="idc-container"></div>
            <div style="display:none;" id="IDCommentInfoPostTitle"><$MTEntryTitle$></div>
            <div style="display:none;" id="IDCommentInfoPostTime"><$MTEntryDate$></div>
            <div style="display:none;" id="IDCommentInfoPostAuthor"><$MTEntryAuthor$></div>
            <div style="display:none;" id="IDCommentInfoPostCats"><MTEntryCategories><$MTCategoryLabel$>|</MTEntryCategories></div>
            <script type="text/javascript">
                var idcomments_post_url = '<$MTEntryPermalink$>';
                var idcomments_post_title = encodeURIComponent(document.getElementById('IDCommentInfoPostTitle').innerHTML);        
                var idcomments_post_id = '<$MTEntryID$>';
                var idcomments_post_author = document.getElementById('IDCommentInfoPostAuthor').innerHTML;
                var idcomments_post_time = document.getElementById('IDCommentInfoPostTime').innerHTML;
                var idcomments_post_cats = document.getElementById('IDCommentInfoPostCats').innerHTML;
                var idcomments_acct = '73c199d8d7316b2d26891d067ae5da22';
            	var commentScriptWrapper = document.createElement("SCRIPT");
				commentScriptWrapper.type = "text/javascript";
				commentScriptWrapper.src = "https://www.intensedebate.com/js/typepadTemplateCommentWrapper2.php?acct="+idcomments_acct+"&postid="+idcomments_post_id+"&title="+idcomments_post_title+"&url="+idcomments_post_url+"&posttime="+encodeURIComponent(idcomments_post_time)+"&postauthor="+encodeURIComponent(idcomments_post_author)+"&postcats="+encodeURIComponent(idcomments_post_cats);
				document.getElementsByTagName("HEAD")[0].appendChild(commentScriptWrapper);
			</script>    
        </div>
    </div>
</MTElse>
<!-- *Intense Debate* -->
</MTEntryIfCommentsOpen>
  <!-- END comment -->
  {% endif %}
</article>
